<label for="book-title">Book Title:</label>
<input type="text" id="book-title">
<label for="book-author">Book Author:</label>
<input type="text" id="book-author">
<label for="book-ISBN">Book ISBN:</label>
<input type="text" id="book-ISBN">
<a href="#/AddBook"><button>Add Book</button></a>
<label for="editBookTitle">Edit Book Title:</label>
<input type="text" id="editBookTitle" value="{{book.title}}">
<label for="editBookAuthor">Edit Book Author:</label>
<input type="text" id="editBookAuthor" value="{{book.author}}">
<label for="editBookISBN">Edit Book ISBN:</label>
<input type="text" id="editBookISBN" value="{{book.isbn}}">
<a href="#/EditBook"><button>Edit Book</button></a>